* {
    margin: 0;
    font-family: 'arial';
}

header {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 3.2rem;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-between;
    z-index: 100;
}

header h1 {
    margin-left: 4%;
    font-size: clamp(1rem, 3vw, 3rem);
}

header input{
    width: 50%;
    background-color: #f7f8f9ef;
    box-shadow: 5px 3px 10px gray;
    height: 1.8rem;
    border-style: none;
    border-radius: 0.5rem;
}

header img {
    margin-right:4%;
    height: 2rem;
}

footer {
    margin-top: 3rem;
    padding: 2rem;
    background-color: white;
    box-shadow: gray 10px -10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul{
    list-style: none;
    padding-left: 0;;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

footer ul li{
    margin-bottom: 1rem;
}

#footer-img-container {
    display: flex;
    flex-wrap: wrap;
}

#footer-img-container img {
    height: 3rem;
    margin-right: 1rem;
}

/* ! Cart styles */

.shop-container {
    position: fixed;
    top: 0;
    height: 100%;
    width: clamp(20rem, 30vw, 30rem);
    background-color: #f7f8f9;
    box-shadow: black 10px -10px 10px 10px;
    right: 0;
    padding-top: 4rem;
    padding-left: 1rem;
    z-index: 50;
    transition: 0.5s;
}

.shop-container-hidden {
    right: -32rem;
} 

.cart-shopping-item img {
    aspect-ratio: 1/1;
    object-fit: cover;
    max-height: 4rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.cart-shopping-item {
    margin-top: 1.5rem;
    border-radius: 1rem;
    height: 4rem;
    width: 90%;
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

.cart-shopping-item button {
    background-color: #ff254a;   
    border-radius: 0.5rem;
    width: 100%;
    height: 1.2rem;
    border-style: none;
    color: rgb(255, 255, 255);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.5s;
}

.cart-shopping-item button:hover {
    background-color: orange;
    transform: scale(1.1);
}
