* {
    margin: 0;
    font-family: 'arial';
}

header {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 3rem;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-between;
}

header h1 {
    margin-left: 4%;
    font-size: clamp(1rem, 3vw, 3rem);
}

header input{
    width: 50%;
    background-color: #f7f8f9;
    box-shadow: 5px 3px 10px gray;
    height: 1.8rem;
    border-style: none;
    border-radius: 0.5rem;
}

header img {
    margin-right:4%;
    height: 2rem;
}
