* {
    margin: 0;
    font-family: 'arial';
}

header {
    display: flex;
    background-color: antiquewhite;
    height: 3rem;
    align-items: center;
    position: fixed;
    width: 100%;
    justify-content: space-between;
}

header h1 {
    margin-left: 4%;
}

header input{
    width: 50%;
    background-color: blueviolet;
    height: 1.8rem;
    border-style: none;
    border-radius: 5rem;
}

header img {
    margin-right:4%;
    height: 2rem;
}

main{
    height: 100vh;
    background-image: url("img/mainImage.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


section {
    width: 100%;
}

#main-image{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

#about-us{
    background-color: aquamarine;
    display: flex;
    width: 100%;;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 5%;
}

.dev-container img{
    border-radius: 500px;
    aspect-ratio: 1/1;
    width: 60%;
    object-fit: cover;
    margin-bottom: 5%;
}

.dev-container h1{
    font-size: clamp(2rem, 5vw, 2rem);
    margin-top: 5%;
    margin-bottom: 5%;
}

.dev-container p{
    margin-left: 5%;
    margin-right: 5%;
    font-size: clamp(1.2rem, 3vw, 2rem);
}

.dev-container{
    margin-top: 50px;
    background-color: rgb(157, 255, 0);
    text-align: center;
    height: 50%;
    min-width: 300px;
    width: 30%;
}