header {
    box-shadow: 0px 5px 20px rgb(233, 233, 233);
}

section{
    margin-top: 5rem;   
    width: 30rem;
}

#category-selector button {
    margin-left: 1rem;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    border-style: none;
    cursor: pointer;
    
}